body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

form {
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.input-group label {
    width: 200px;
    text-align: right;
    margin-right: 15px;
}

.input-group input {
    flex: 1;
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

#downloadArea {
    text-align: center; /* Center the download links */
}

#downloadArea button,
#downloadArea a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #28a745; /* Green download button */
    color: white;
    text-decoration: none;
    border: none; /* Remove default border from buttons */
    border-radius: 5px;
    cursor: pointer;
}

#downloadArea button:hover,
#downloadArea a:hover {
    background-color: #218838; /* Darker green on hover */
}
